<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Management</title>
    <link rel="stylesheet" href="/css/bootstrap1.min.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body class="main_content_iner">
<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-lg-12 mt_60">
            <div class="white_box">
                <div class="row justify-content-center">
                    <div class="col-lg-4 my-lg-5">
                        <div class="modal-content cs_modal">
                            <div class="modal-header justify-content-center theme_bg_1">
                                <h5 class="modal-title text_white">Reset Password</h5>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="" id="reset_password_form">
                                    <div class="">
                                        <input name="newPassword" type="password"
                                               class="form-control" placeholder="New Password">
                                    </div>
                                    <div class="">
                                        <input name="confirmPassword" type="password"
                                               class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <p>
                                        <span th:if="${error}"
                                              class="text-danger" th:text="${error}">Invalid password.
                                        </span>
                                        <span th:if="${success}"
                                              class="text-success" th:text="${success}">Password changed successfully.
                                        </span>
                                    </p>
                                    <a href="#" class="btn_1 full_width text-center" onclick="formSubmit()">
                                        Reset Password
                                    </a>
                                </form>
                                <div class="text-center mt_30">
                                    <a href="/auth/login" class="text-center">
                                        Back to Login
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function formSubmit() {
        document.getElementById("reset_password_form").submit();
    }
</script>

<script src="/js/bootstrap1.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
