<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Shared/_layout.html}">
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                <div class="page_title_left d-flex align-items-center">
                    <h3 class="f_s_25 f_w_700 dark_text mr_30">Customer Details</h3>
                </div>
                <div class="page_title_right">
                    <div class="page_date_button d-flex align-items-center">
                        <img src="/img/icon/calender_icon.svg" alt="">
                        <span th:text="${#dates.format(#dates.createNow(), 'MMMM d, yyyy')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="white_card card_height_100 mb_30 pt-4">
                <div class="white_card_body">
                    <div class="QA_section">
                        <form th:action="@{/customers/update/{custId}(custId=${customer.custId})}" method="post"
                              id="updateForm">
                            <div class="col-12">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label style="font-size: 16px; font-weight: bold; margin-bottom: 5px">Name</label>
                                        <input name="name" type="text" class="form-control" placeholder="Name"
                                               th:value="${customer.getName()}">
                                    </div>
                                    <div class="col-4">
                                        <label style="font-size: 16px; font-weight: bold; margin-bottom: 5px">Email</label>
                                        <input name="email" type="text" class="form-control" placeholder="Email"
                                               th:value="${customer.getEmail()}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label style="font-size: 16px; font-weight: bold; margin-bottom: 5px">Phone</label>
                                        <input name="phone" type="text" class="form-control" placeholder="Phone"
                                               th:value="${customer.getPhone()}">
                                    </div>
                                    <div class="col-4">
                                        <label style="font-size: 16px; font-weight: bold; margin-bottom: 5px">Point</label>
                                        <input name="point" type="text" class="form-control" placeholder="Point"
                                               th:value="${customer.getPoint()}">
                                    </div>
                                    <div class="col-4 d-flex align-items-end">
                                        <div class="add_button ms-2">
                                            <a href="#" onclick="submitUpdateForm()" class="btn_1 bg-primary border-0">Update</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="white_card card_height_100 mb_30 pt-4">
                <div class="white_card_body">
                    <div class="QA_section">

                        <!--    region Table   -->
                        <div class="QA_table mb_30">
                            <table class="table lms_table_active dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info"
                                   style="width: 944px;">
                                <thead>
                                <tr role="row">
                                    <th scope="col" class="sorting_asc" tabindex="0"
                                        aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                        style="width: 35px;" aria-sort="ascending"
                                        aria-label="id: activate to sort column descending">No.
                                    </th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 109px;"
                                        aria-label="Status: activate to sort column ascending">Status
                                    </th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 165px;"
                                        aria-label="Total Price: activate to sort column ascending">Total Price
                                    </th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 75px;"
                                        aria-label="Salesperson: activate to sort column ascending">Salesperson
                                    </th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 128px;"
                                        aria-label="Created At: activate to sort column ascending">Created At
                                    </th>
                                    <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 134px;"
                                        aria-label="Action: activate to sort column ascending">Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order, iterStat : ${orders}"
                                    th:class="${iterStat.odd} ? 'odd' : 'even'"
                                    th:id="${order.getOid()}">
                                    <td tabindex="0" class="sorting_1">
                                        <a href="#" class="question_content" th:text="${iterStat.index + 1}"></a>
                                    </td>
                                    <td th:text="${order.getOrderStatus()}"></td>
                                    <td>
                                        <a href="#" class="__cf_email__" th:text="${'$'+order.getTotalPrice()}"></a>
                                    </td>
                                    <td>
                                        <a href="#" class="question_content"
                                           th:text="${order.getUser().getUsername()}">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" th:text="${order.getCreatedAt().toLocalDate()}"></a>
                                    </td>
                                    <td>
                                        <div class="action_btns">
                                            <a class="action_btn mr_10 d-flex align-items-center justify-content-center"
                                               href="#"
                                               th:data-order-id="${order.getOid()}"
                                               onclick="showOrderDetailsModal(this)">
                                                <i class="fa fa-th-list"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--    endregion Table   -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    region Modal    -->

<div layout:fragment="grid-modal">

    <div class="modal fade show" id="order_details" tabindex="-1" role="dialog"
         aria-labelledby="orderDetailModalLongTitle" aria-modal="true">
        <div class="modal-dialog" role="document" style="max-width: 750px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Order Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body" id="invoice"
                     style="@media screen { -webkit-print-color-adjust: exact; };
                            @page  {size: a4;margin: 0;};
                            @media print { page-break-inside: avoid; }">
                    <div class="row">
                        <div class="col-12 QA_section">
                            <div class="card QA_table ">
                                <div class="card-header">
                                    Invoice
                                    <strong id="createdAt">15/08/2020</strong>
                                    <span class="float-end"> <strong>Status: </strong><span
                                            id="status">Pending</span></span>
                                </div>
                                <div class="card-body">

                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <h6 class="mb-3">Bill To:</h6>
                                            <div>Name: <strong th:text="${customer.getName()}"></strong></div>
                                            <div>Email: <span th:text="${customer.getEmail()}"></span></div>
                                            <div>Phone: <span th:text="${customer.getPhone()}"></span></div>
                                        </div>
                                    </div>

                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="center">#</th>
                                                <th>Item</th>
                                                <th>Category</th>
                                                <th class="right">Unit Cost</th>
                                                <th class="center">Qty</th>
                                                <th class="right">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody id="order_products_table">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                        </div>
                                        <div class="col-lg-4 col-sm-5 ms-auto QA_section">
                                            <br>
                                            <table class="table table-clear QA_table">
                                                <tbody>

                                                <tr>
                                                    <td class="left">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td class="right">
                                                        <strong id="total"></strong>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="printInvoice()">Print</button>
                </div>

            </div>
        </div>
    </div>

</div>

<!--    endregion Modal     -->


<script th:inline="javascript" layout:fragment="customScript">
    const orders = [[${orders}]];
    const products = [[${products}]];

    function showOrderDetailsModal(element) {
        var orderId = element.getAttribute("data-order-id");
        var order = orders.find(o => o.oid === orderId);

        var createdAtDate = new Date(order.createdAt);
        var formattedDate = createdAtDate.toLocaleDateString('en-GB', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
        });

        $("#createdAt").text(formattedDate);
        $("#status").text(order.orderStatus);

        const orderProducts = order.orderProducts;

        $("#order_products_table").empty();

        for (let i = 0; i < orderProducts.length; i++) {
            const orderProduct = orderProducts[i];
            const product = products.find(p => p.pid === orderProduct.pid);

            var row = document.createElement("tr");

            var no = document.createElement("td");
            no.setAttribute("class", "center");
            no.innerText = i + 1;

            var item = document.createElement("td");
            item.setAttribute("class", "left strong");
            item.innerText = product.name;

            var category = document.createElement("td");
            category.setAttribute("class", "left");
            category.innerText = product.category;

            var unitPrice = document.createElement("td");
            unitPrice.setAttribute("class", "right");
            unitPrice.innerText = "$" + orderProduct.retailPrice;

            var quantity = document.createElement("td");
            quantity.setAttribute("class", "center");
            quantity.innerText = orderProduct.quantity;

            var unitTotal = document.createElement("td");
            unitTotal.setAttribute("class", "right");
            var total = orderProduct.quantity * orderProduct.retailPrice;
            unitTotal.innerText = "$" + total;

            row.appendChild(no);
            row.appendChild(item);
            row.appendChild(category);
            row.appendChild(unitPrice);
            row.appendChild(quantity);
            row.appendChild(unitTotal);

            $("#order_products_table").append(row);
        }

        $("#total").text("$" + order.totalPrice);

        $("#order_details").modal("show");
    }

    function printInvoice() {
        document.body.innerHTML = document.getElementById("invoice").innerHTML;
        window.print();
        location.reload();
    }

    function submitUpdateForm() {
        document.getElementById("updateForm").submit();
    }

    function submitSearchForm() {
        document.getElementById("searchForm").submit();
    }
</script>

</body>
</html>
